<div id="vidas" class="d-flex justify-content-between">
  <div class="ps-3 pt-2 position-relative" style="width: 100%;">
    <span class="name">{{userName}}</span>
    <ion-progress-bar id="VidaGohan" color="primary" [value]="gohan.vidaBarraGohan" style="width: 90%; height: 8vh;">
    </ion-progress-bar>
  </div>
  <span class="vs">Vs</span>
  <div class="d-flex justify-content-end pe-3 pt-2" style="width: 100%;">
    <span class="name">Cell</span>
    <ion-progress-bar id="VidaCell" color="success" [value]="cell.vidaBarraCell" reversed="true"
      style="width: 90%; height: 8vh;">
    </ion-progress-bar>
  </div>
</div>
