<div class="p-0 container pantalla" style="height: 100vh;">
  <!-- barra vida y energia -->
  <div [ngClass]="{'opacity-0' : ocultarPresentacion}">
    <app-life [gohan]="gohan" [cell]="cell"></app-life>
    <app-energy [gohan]="gohan" [cell]="cell"></app-energy>
  </div>

  <div id="juego-pantalla">
    <img src="assets/fondo/arenaCerca.png" class="fondoCerca" alt="fondo">

    <!-- presentacion -->
    <ng-container *ngIf="ocultarPresentacion">
      <app-introduction-f1 (finPresentacion)="ocultarPresentacion = $event">
      </app-introduction-f1>
    </ng-container>

    <!-- imagenes en pantalla -->
    <ng-container *ngIf="!ocultarPresentacion">
      <app-game-f1-img [gohan]="gohan" [cell]="cell" [servicio]="servicioF1"></app-game-f1-img>
    </ng-container>

    <!--botonera -->
    <ng-container *ngIf="!ocultarPresentacion">
      <app-joystick [servicio]="servicioF1">
      </app-joystick>
    </ng-container>

  </div>

  <!-- score -->
  <app-scorekeeper [gohan]="gohan" [cell]="cell" [servicio]="servicioF1"></app-scorekeeper>

</div>