.fondoCerca {
    margin       : auto;
    width        : 100vw;
    height       : 70%;
    box-sizing   : border-box;
    box-shadow   : 0px 0px 20px 2px #3e3b3b;
    border-radius: 20%;
    border       : 3px solid black;
    margin-top: -7vh;
  }
  /***********************************GANA GOHAN**************************************
  **************************************GANA GOHAN************************************/
  .marcoBoton {
    width   : 100%;
    position: absolute;
    bottom  : 0;
    z-index : 97;
    opacity : 1;
  }

  
  .botonContador {
    width : 12vw;
    height: 12vw;
  }

  .marcoConrarGolpe {
    bottom  : 23vw;
    left    : 18vw;
    position: relative;
  }

  .cadena2 {
    position: relative;
    bottom  : 29vw;
    left    : 34vw;
  }

  .cadena3 {
    position: relative;
    bottom  : 18vw;
    left    : 71vw;
  }

  .cadena4 {
    position: relative;
    bottom  : 25vw;
    left    : 11vw;
  }

  .botonPulsar {
    //choque kames
    margin            : 1vw;
    border-radius     : 100%;
    display           : flex;
    justify-content   : center;
    align-items       : center;
    text-align        : center;
    box-sizing        : border-box;
    background        : rgba(252, 234, 186, 1);
    background        : -moz-linear-gradient(top, rgba(252, 234, 186, 1) 0%, rgba(252, 234, 186, 1) 12%, rgba(255, 207, 87, 1) 45%, rgba(250, 183, 0, 1) 70%, rgba(251, 223, 147, 1) 99%, rgba(251, 223, 147, 1) 100%);
    background        : -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252, 234, 186, 1)), color-stop(12%, rgba(252, 234, 186, 1)), color-stop(45%, rgba(255, 207, 87, 1)), color-stop(70%, rgba(250, 183, 0, 1)), color-stop(99%, rgba(251, 223, 147, 1)), color-stop(100%, rgba(251, 223, 147, 1)));
    background        : -webkit-linear-gradient(top, rgba(252, 234, 186, 1) 0%, rgba(252, 234, 186, 1) 12%, rgba(255, 207, 87, 1) 45%, rgba(250, 183, 0, 1) 70%, rgba(251, 223, 147, 1) 99%, rgba(251, 223, 147, 1) 100%);
    background        : -o-linear-gradient(top, rgba(252, 234, 186, 1) 0%, rgba(252, 234, 186, 1) 12%, rgba(255, 207, 87, 1) 45%, rgba(250, 183, 0, 1) 70%, rgba(251, 223, 147, 1) 99%, rgba(251, 223, 147, 1) 100%);
    background        : -ms-linear-gradient(top, rgba(252, 234, 186, 1) 0%, rgba(252, 234, 186, 1) 12%, rgba(255, 207, 87, 1) 45%, rgba(250, 183, 0, 1) 70%, rgba(251, 223, 147, 1) 99%, rgba(251, 223, 147, 1) 100%);
    background        : linear-gradient(to bottom, rgba(252, 234, 186, 1) 0%, rgba(252, 234, 186, 1) 12%, rgba(255, 207, 87, 1) 45%, rgba(250, 183, 0, 1) 70%, rgba(251, 223, 147, 1) 99%, rgba(251, 223, 147, 1) 100%);
    filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceaba', endColorstr='#fbdf93', GradientType=0);
    -webkit-box-shadow: inset 0px 0px 81px 8px rgba(145, 119, 42, 1);
    -moz-box-shadow   : inset 0px 0px 81px 8px rgba(145, 119, 42, 1);
    box-shadow        : inset 0px 0px 81px 8px rgba(145, 119, 42, 1);
    box-shadow        : 0px 8px 0px #3e4201;
    position          : relative;
    z-index           : 1;
    top               : 0px;
    transition        : all ease 0.1s;
  }

  .botonPulsar:active {
    box-shadow: 0 3px 0 #3e4201;
    top       : 5px;
  }






