#marcoPersonajes {
    margin  : auto;
    position: absolute;
    width   : 100vw;
    height  : 2vw;
}

.cellBase {
    z-index  : 94;
    position : absolute;
    width    : 16vw;
    height   : auto;
    bottom   : 2vw;
    right    : 11vw;
    opacity  : 0;
    animation: aparecer 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

@keyframes aparecer {

    /*inicio*/
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.rayaCell {
    z-index  : 95;
    position : absolute;
    width    : 24vw;
    height   : auto;
    bottom   : 3vw;
    left     : 70vw;
    opacity  : 0;
    animation: raya 1s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

@keyframes raya {

    /*inicio*/
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.rayaCellContra {
    z-index  : 95;
    position : absolute;
    width    : 24vw;
    height   : auto;
    bottom   : 5vw;
    left     : 58vw;
    opacity  : 0;
    animation: raya 1s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

.cellPunio {
    z-index  : 94;
    position : absolute;
    width    : 29vw;
    height   : 35vw;
    bottom   : -2vw;
    right    : 54vw;
    opacity  : 0;
    animation: aparecer 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

.cellPatada {
    z-index  : 94;
    position : absolute;
    width    : 29vw;
    height   : 35vw;
    bottom   : -2vw;
    right    : 54vw;
    opacity  : 0;
    animation: aparecer 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

.cellDefensa {
    z-index  : 94;
    position : absolute;
    width    : 21vw;
    height   : 35vw;
    bottom   : 1vw;
    right    : 1vw;
    opacity  : 0;
    animation: aparecer 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

.defensaEfectoCell {
    z-index  : 94;
    position : absolute;
    width    : 68vw;
    height   : auto;
    bottom   : 2vh;
    right    : -16vw;
    opacity  : 0;
    animation: efectoDefensaAnimar 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s forwards;
}

@keyframes efectoDefensaAnimar {

    /*inicio*/
    0% {
        filter: brightness(1);
    }

    80% {
        filter : brightness(6);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.heridoCell {
    z-index  : 94;
    position : absolute;
    width    : 22vw;
    height   : auto;
    bottom   : 3vw;
    right    : 3vw;
    opacity  : 0;
    animation: animarCellHerido 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

@keyframes animarCellHerido {

    /*inicio*/
    0% {
        opacity: 0;
        right  : 5vw;
    }

    20% {
        filter: invert(0.4) sepia(1) hue-rotate(305deg) saturate(1000%);
    }

    25% {
        right : 2vw;
        filter: invert(0.4) sepia(1) hue-rotate(305deg) saturate(1000%);
    }

    26% {
        filter: none;
    }

    50% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.heridoCell1 {
    z-index  : 94;
    position : absolute;
    width    : 22vw;
    height   : auto;
    bottom   : 7vw;
    right    : 21vw;
    opacity  : 0;
    animation: animarCellHerido1 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

@keyframes animarCellHerido1 {

    /*inicio*/
    0% {
        opacity: 0;
    }

    20% {
        filter: invert(0.4) sepia(1) hue-rotate(305deg) saturate(1000%);
    }

    25% {
        right : 15vw;
        filter: invert(0.4) sepia(1) hue-rotate(305deg) saturate(1000%);
    }

    26% {
        filter: none;
    }

    50% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.heridoCell2 {
    z-index  : 94;
    position : absolute;
    width    : 22vw;
    height   : auto;
    bottom   : 9vw;
    right    : 46vw;
    opacity  : 0;
    transform: rotateY(180deg);
    animation: animarCellHerido3 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

@keyframes animarCellHerido3 {

    /*inicio*/
    0% {
        opacity: 0;
    }

    20% {
        filter: invert(0.4) sepia(1) hue-rotate(305deg) saturate(1000%);
    }

    25% {
        right : 53vw;
        filter: invert(0.4) sepia(1) hue-rotate(305deg) saturate(1000%);
    }

    26% {
        filter: none;
    }

    50% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.contraCell {
    z-index  : 96;
    position : absolute;
    width    : 22vw;
    height   : auto;
    bottom   : 11vw;
    right    : 34vw;
    opacity  : 0;
    transform: rotateY(180deg);
    animation: animarContraCell 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

@keyframes animarContraCell {

    /*inicio*/
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        right  : 22vw;
        opacity: 1;
    }
}

.contraCell1 {
    z-index  : 96;
    position : absolute;
    width    : 22vw;
    height   : auto;
    bottom   : 11vw;
    left     : 30vw;
    opacity  : 0;
    transform: rotateY(180deg);
    animation: animarContraCell 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

.cellCarga {
    position : absolute;
    width    : 18vw;
    bottom   : 4vh;
    right    : 11vw;
    opacity  : 0;
    animation: cell3 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

//-----------------------kame----------------------------
.efectoKiCarga {
    z-index  : 95;
    position : absolute;
    width    : 20vw;
    bottom   : 4vw;
    right    : 6vw;
    opacity  : 0;
    animation: efectoki 2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s backwards;
}

.cellCargaKame {
    z-index  : 94;
    position : absolute;
    width    : 20vw;
    bottom   : 4vw;
    right    : 6vw;
    opacity  : 0;
    animation: aparecer 2s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        backwards;
}

.cellKame {
    z-index  : 94;
    position : absolute;
    width    : 19vw;
    bottom   : -0.5vw;
    right    : 0vw;
    opacity  : 0;
    animation: aparecer 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        2.1s forwards;
}

.kame {
    position : absolute;
    z-index  : 99;
    width    : 0%;
    bottom   : 18vh;
    right    : 17vw;
    height   : 26vw;
    opacity  : 0.9;
    transform: rotate(180deg);
    animation: animaKiKame 2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.8s backwards;
}

@keyframes animaKiKame {

    /*inicio*/
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        width  : 78%;
    }
}

@keyframes efectoki {
    0% {
        opacity: 0;
        filter : brightness(1);
    }

    10% {
        filter: brightness(100%);
    }

    15% {
        opacity: 1;
        filter : brightness(1);
    }

    20% {
        filter: brightness(200%);
    }

    25% {
        filter: brightness(1);
    }

    30% {
        filter: brightness(300%);
    }

    35% {
        filter: brightness(1);
    }

    40% {
        filter: brightness(200%);
    }

    45% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(300%);
    }

    55% {
        filter: brightness(1);
    }

    60% {
        filter: brightness(200%);
    }

    65% {
        filter: brightness(1);
    }

    70% {
        filter: brightness(300%);
    }

    75% {
        filter: brightness(1);
    }

    80% {
        filter: brightness(200%);
    }

    85% {

        filter: brightness(1);
    }

    90% {
        opacity: 1;
        filter : brightness(300%);
    }

    95% {
        filter: brightness(1);
    }

    100% {
        opacity: 0;
    }
}