<div id="marcoPersonajes">
  <img *ngIf="gohan.base " class="gohanBase" src="assets/gohan/ss2/base.png" alt="Gohan">
  
  <img *ngIf="gohan.raya" class="rayaGohan" src="assets/gohan/ss1/rayas.png" alt="rayas">
  <img *ngIf="gohan.rayaContra1" class="rayaGohanContra1" src="assets/gohan/ss1/rayas.png" alt="rayas">  

  <img *ngIf="gohan.carga" class="carga" src="assets/gohan/ss2/carga.png" alt="gohanCarga">

  <img *ngIf="gohan.defensa" class="gohanDefensa" src="assets/gohan/ss2/defensa.png" alt="gohan defensa">
  <img *ngIf="gohan.defensa" class="efectoDefensa" src="assets/efectos/defensa3.png" alt="efecto defensa">
 
  <img *ngIf="gohan.gancho" src="assets/gohan/ss2/gancho.png" class="gohanGancho" alt="gohan gancho">
  <img *ngIf="gohan.gancho" src="assets/gohan/ss2/efectoGancho.png" class="gohanGanchoEfecto" alt="efecto gohan gancho">

  <img *ngIf="gohan.patada" src="assets/gohan/ss2/patada.png" alt="gohan patada">

  <img *ngIf="gohan.rafaga" src="assets/gohan/ss2/rafaga.png" class="gohanRafaga" alt="gohan rafaga">
  <img *ngIf="gohan.rafaga" src="assets/efectos/bola2.gif"  class="efectoRafagaGohan" alt="efectoKi">

  <img *ngIf="gohan.cargaKame" src="assets/gohan/ss2/cargaKame.png" class="gohanCarga" alt="gohan cargaKame">
  <img *ngIf="gohan.cargaKame" src="assets/gohan/ss2/cargaKameEfecto.png"  class="efectoKameCarga" alt="efectoKi">
  <img *ngIf="gohan.kame" src="assets/gohan/ss2/kame.png"  class="gohanKame" alt="efecto kame">
  <img *ngIf="gohan.kame" class="efectoKameGohan" src="assets/efectos/kame.gif" alt="gohan kame efecto">

  <img *ngIf="gohan.herida"  class="gohanHerida" src="assets/gohan/ss2/herida.png" alt="gohan herida">
  <img *ngIf="gohan.heridaContra1"  class="heridaContra1" src="assets/gohan/ss2/herida.png" alt="gohan herida">
  <img *ngIf="gohan.heridaContra2"  class="heridaContra2" src="assets/gohan/ss2/herida.png" alt="gohan herida">
  <!-- goku -->
  <img *ngIf="gohan.kamePadreHijo"  class="gokuAparece" src="assets/gohan/ss2/gokuAparece.png" alt="goku aprece">
  <img *ngIf="gohan.kamePadreHijo" class="gokuCarga"  src="assets/gohan/ss2/gokuCarga.png" alt="goku carga">
  <img *ngIf="gohan.kamePadreHijo" class="gohanKamePadre"  src="assets/gohan/ss2/padreEHijo.png" alt="gohan kamePadre">
  <img *ngIf="gohan.kamePadreHijo" class="efectoKamePadreGohan" src="assets/efectos/kame.gif" alt="gohan kame efecto">
  <img *ngIf="gohan.kamePadreHijo" class="efectoKamePadreGoku" src="assets/efectos/kame.gif" alt="goku kame efecto">
 
  <!--Cell-->
  <img *ngIf="cell.base" class="cellBase" src="assets/cell/f3/base.png" alt="cellBase">
  <img *ngIf="cell.raya" class="rayaCell" src="assets/cell/f2/rayas.png" alt="rayas">
  
  <img *ngIf="cell.carga" class="cellCarga" src="assets/cell/f3/carga.png" alt="cell carga">
  <img *ngIf="cell.carga" class="cellKi" src="assets/cell/f3/kiCell.png" alt="efecto carga">

  <img *ngIf="cell.defensa" class="cellDefensa" src="assets/cell/f3/defensa.png" alt="cell defensa">
  <img *ngIf="cell.defensa" class="defensaEfectoCell" src="assets/efectos/defensa3.png" alt="cell defensa">

  <img *ngIf="cell.desvioKi" class="cellDesvio" src="assets/cell/f3/desvioKame.png" alt="cell desvio">
  <img *ngIf="cell.muerto" class="cellDestruido" src="assets/cell/f3/muerto.png" alt="cell destruido">
  
  <img *ngIf="cell.punio" class="cellPunio" src="assets/cell/f3/puño.png" alt="cell puño">
  <img *ngIf="cell.patada" class="cellPatada" src="assets/cell/f3/patada.png" alt="cell patada">
  <img *ngIf="cell.contra" class="cellPatada" src="assets/cell/f3/contra.png" alt="cell contra">
  
  <img *ngIf="cell.atacaCellJunior" class="cellatacaJunio" src="assets/cell/f3/atacaMini.png" alt="cell manda a los cell.J">
  <img *ngIf="cell.cellJunior" class="cellJunior" src="assets/cell/f3/cellJunior.png" alt="cell junior">

  <img *ngIf="cell.kame" class="cellCargaKame" src="assets/cell/f3/kamecarga.png" alt="cell carga kame">
  <img *ngIf="cell.kame" class="cellKame" src="assets/cell/f3/kame.png" alt="cell kame">
  <img *ngIf="cell.kame" class="efectoKame" src="assets/efectos/kame.gif" alt="cell kame efecto">


  <!---efectos-->
  <!-- para matar cell junior -->
  <img  src="assets/efectos/explosion.gif" alt="efectoKi" class="explosion">




</div>
