<div id="marcoEnergia" class="d-flex justify-content-between">

  <div id="EnergiaGohan" class="btn-group " role="group">
    <div class="d-flex justify-content-center align-items-center">

      <div *ngFor="let carga of listEnergiaGohan; let i = index" class="formaEnergia"
        [ngClass]="i < gohan.acumularCargaGohan ? 'energia':'energiaVacio' ">
      </div>

      <span
        [ngClass]="gohan.maximaEnergiaGohan && gohan.acumularCargaGohan === 3 ? 'max ps-2' :'maxVacio ps-2' ">Max.</span>

    </div>
  </div>

  <div id="EnergiaCEll" class="btn-group" role="group">
    <div class="d-flex justify-content-center align-items-center">

      <span
        [ngClass]="cell.maximaEnergiaCell && cell.acumularCargaCell === 3 ? 'max ps-2' :'maxVacio ps-2' ">Max.</span>

      <div *ngFor="let carga of  listEnergiaCell; let i = index" class="formaEnergia"
        [ngClass]="i < cell.acumularCargaCell ? 'energia':'energiaVacio' ">
      </div>
    </div>

  </div>