<div class="p-0 container pantalla" style="height: 100vh;">
  <!-- barra vida y energia -->
  <div>
    <app-life [gohan]="gohan" [cell]="cell"></app-life>
    <app-energy [gohan]="gohan" [cell]="cell"></app-energy>
  </div>

  <div id="juego-pantalla">
    <img src="assets/fondo/arenaCerca.png" class="fondoCerca" alt="fondo">
    <!-- <img src="assets/fondo/fondo2.jpg" class="fondoCerca" alt="fondo2"> -->
    <!-- imagenes en pantalla -->

    <app-game-f2-img [gohan]="gohan" [cell]="cell">
    </app-game-f2-img>

    <!--botonera -->
    <ng-container>
      <app-joystick [servicio]="servicioF2">
      </app-joystick>
    </ng-container>


  </div>



</div>