<ion-content fullscreen>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Dragon Ball Modal
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="modal-body">
      <h2>Ingrese su nombre:</h2>
      <ion-input [(ngModel)]="nombre" placeholder="Nombre"></ion-input>
    </div>
  
    <ion-footer>
      <ion-toolbar>
        <ion-button color="danger" slot="start" (click)="cerrarModal()">Cerrar</ion-button>
        <ion-button color="primary" slot="end" (click)="guardarNombre()">Guardar</ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-content>
</ion-content>