<ng-container>
  <!-- botoner reintentar -->
  <ng-container *ngIf="gohan.gohanPierdeCombate"> 
    <div class="cajaPerder">
      <h1 class="pierdes">Tú pierdes</h1>
      <button class="boton" (click)="reintentar()">
        <span class="btnChoqueKame">¿Reintentar?</span>
      </button>
    </div>
  </ng-container>

  <!-- animacion  -->
  <ng-container *ngIf="activarGifWin">
    <img class="winGif" [src]="gif" alt="gif">
  </ng-container>

  <!-- boton siguiente -->
  <ng-container *ngIf="btnActivo">
    <app-btn-cell-next-fase [texto]="'Ir a Fase {{fase}}'" [fase]="'/fase{{fase}}'">
    </app-btn-cell-next-fase>
  </ng-container>

</ng-container>