<ng-container>
  <!-- botoner reintentar -->
  <ng-container *ngIf="gohan.gohanPierdeCombate || gohan.pierde">
    <div class="cajaPerder">
      <h1 class="pierdes">Tú pierdes</h1>
      <button class="boton" (click)="reintentar()">
        <span class="btnChoqueKame">¿Reintentar?</span>
      </button>
    </div>
  </ng-container>

  <!-- animacion  -->
  <ng-container *ngIf="activarGifWin">
    <img class="winGif" [src]="gif" alt="gif">
  </ng-container>

  <!-- boton siguiente -->
  <ng-container *ngIf="btnActivo || gohan.videoWin">
    <app-btn-cell-next-fase [texto]="texto" [ruta]="ruta">
    </app-btn-cell-next-fase>
  </ng-container>
  <!-- ****************************FASE 3*********************************************************** -->
  <!-- video fase3 gana Cell -->
  <div *ngIf="gohan.pierde" class="winGif overflow-hidden">
    <video autoplay class="video">
      <source src="../../../../../../assets/cell/f3/mueres.mp4" type="video/mp4">
    </video>
  </div>

  <!-- video fase3 gana gohan parte 1 -->
  <div *ngIf="gohan.activarVideo" class="winGif overflow-hidden" style=" transform: scaleX(-1)">
    <video autoplay class="video">
      <source src="../../../../../../assets/cell/f3/mueres.mp4" type="video/mp4">
    </video>
  </div>

  <!-- video fase3 gohan derrota a cell -->
  <div *ngIf="gohan.videoFinal" class="winGif overflow-hidden">
    <video autoplay class="video">
      <source src="../../../../../../assets/gohan/ss2/final.mp4" type="video/mp4">
    </video>
  </div>

  <!-- video fase3 gohan video win -->
  <div *ngIf="gohan.videoWin" class="winGif overflow-hidden">
    <video autoplay class="video">
      <source src="../../../../../../assets/gohan/ss2/win.mp4" type="video/mp4">
    </video>
  </div>

  <ng-container *ngIf="gohan.videoWin">
    <div class="cajaPerder">
      <h1 class="pierdes">¡Has vencido a Cell!</h1>
    </div>
  </ng-container>
</ng-container>