<div id="marcoPersonajes" [ngClass]="{ borrar: ocultar }">
  <!-- entrada gohan -->
  <img class="raya" src="assets/presentacion/gohan/rayas.png" alt="rayas" />
  <img class="gohanCapa" src="assets/presentacion/gohan/gohanCapa.png" alt="GohanCapa" />
  <img class="gohanCapa1" src="assets/presentacion/gohan/gohanCapa1.png" alt="GohanCapa1" />
  <img class="gohanBase" src="assets/presentacion/gohan/gohan1Base.png" alt="Gohan" />
  <!-- entrada cell-->
  <img class="cellSalto" src="assets/presentacion/cell/cell1Golpe.png" alt="cellSalto" />
  <img class="cellCarga" src="assets/presentacion/cell/cell1Carga.png" alt="cellCarga" />
</div>