<div id="marcoPersonajes" [ngClass]="{ borrar: ocultar }">
  <!-- entrada gohan -->
  <img class="raya" src="assets/gohan/ss1/rayas.png" alt="rayas" />
  <img class="gohanCapa" src="assets/gohan/ss1/gohanCapa.png" alt="GohanCapa" />
  <img class="gohanCapa1" src="assets/gohan/ss1/gohanCapa1.png" alt="GohanCapa1" />
  <img class="gohanBase" src="assets/gohan/ss1/gohanBase.png" alt="Gohan" />
  <!-- entrada cell-->
  <img class="cellSalto" src="assets/cell/f1/cellGolpe.png" alt="cellSalto" />
  <img class="cellCarga" src="assets/cell/f1/cellCarga.png" alt="cellCarga" />
</div>