#marcoPersonajes {
    margin  : auto;
    position: relative;
    width   : 100vw;
    height  : 2vw;
}

.gohanBase {
    position : relative;
    width    : 23vw;
    bottom   : 26vw;
    left     : 6vw;
    animation: gohan3 2s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

@keyframes gohan3 {

    /*inicio*/
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.carga {
    z-index  : 95;
    position : absolute;
    width    : 20vw;
    height   : auto;
    bottom   : 3.3vw;
    right    : 71vw;
    opacity  : 0;
    animation: gohan3 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

.efectoCargaGohan {
    z-index  : 95;
    position : absolute;
    width    : 18vw;
    height   : auto;
    bottom   : 3.6vw;
    right    : 72.8vw;
    opacity  : 0;
    animation: efectoki 2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s backwards;
}

@keyframes efectoki {
    0% {
        opacity: 0;
        filter : brightness(3);
    }

    20% {
        filter: brightness(1);
    }

    30% {
        filter: brightness(6);
    }

    40% {
        filter: brightness(1);
    }

    50% {
        opacity: 1;
        filter : brightness(3);
    }

    60% {
        filter: brightness(1);
    }

    70% {
        filter: brightness(6);
    }

    80% {
        filter: brightness(3);
    }

    90% {
        filter: brightness(1);
    }

    100% {
        opacity: 1;
    }
}

/*fin animacion gohan*/
.cellBase {
    z-index  : 94;
    position : absolute;
    width    : 16vw;
    height   : auto;
    bottom   : 4vw;
    right    : 11vw;
    opacity  : 0;
    animation: cell3 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

@keyframes cell3 {

    /*inicio*/
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.cellCarga {
    z-index  : 95;
    position : absolute;
    width    : 29vw;
    bottom   : 4vh;
    right    : 0vw;
    transform: rotate3d(1, 1, 1, 352deg);
    opacity  : 0;
    animation: cell3 3s
        /*duracion*/
        cubic-bezier(0.18, 0.89, 0.32, 1.28)
        /*retraso*/
        forwards;
}

/**efectos*/
@keyframes efectoki {
    0% {
        opacity: 0;
        filter : brightness(3);
    }

    20% {
        filter: brightness(1);
    }

    30% {
        filter: brightness(6);
    }

    40% {
        filter: brightness(1);
    }

    50% {
        opacity: 1;
        filter : brightness(3);
    }

    60% {
        filter: brightness(1);
    }

    70% {
        filter: brightness(6);
    }

    80% {
        filter: brightness(3);
    }

    90% {
        filter: brightness(1);
    }

    100% {
        opacity: 1;
    }
}

.efectoKiCell {
    z-index  : 95;
    position : absolute;
    width    : 23vw;
    bottom   : 5vh;
    right    : 5.5vw;
    transform: rotate3d(1, 1, 1, 16deg);
    opacity  : 0;
    animation: efectoki 2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s backwards;
}

.bocadillo {
    width                  : 33vw;
    height                 : 23vw;
    background-image       : url(../../../../../../assets/efectos/bocadillo2.png);
    position               : absolute;
    bottom                 : 10vw;
    left                   : 43vw;
    z-index                : 98;
    background-image       : no-repeat;
    background-image       : fixed;
    background-image       : center;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
    justify-content        : center;
    display                : flex;
    align-items            : center;
    opacity                : 0;
    animation              : animaBocadillo 1s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
}

@keyframes animaBocadillo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.parrafo {
    color      : black;
    position   : relative;
    z-index    : 99;
    width      : 21vw;
    font-family: comic sans-serif;
    font-weight: bold;
    font-size  : 2.2vw;
    text-align : center;
    opacity    : 0;
    animation  : animaBocadillo 1s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
}