<div class="p-0 container pantalla" style="height: 100vh;">
  <!-- barra vida y energia -->
  <!--presentacion vida distinta -->
  <div>
    <app-life [gohan]="introGohan" [cell]="introCell"></app-life>
    <app-energy [gohan]="introGohan" [cell]="introCell"></app-energy>
  </div>

  <!-- vida del juego -->
  <!-- <div>
    <app-life [gohan]="gohan" [cell]="cell"></app-life>
    <app-energy [gohan]="gohan" [cell]="cell"></app-energy>
  </div> -->

  <div id="juego-pantalla">
    <img src="assets/fondo/arenaCerca.png" class="fondoCerca" alt="fondo">

    <!-- presentacion  *ngIf="ocultarPresentacion"-->
    <ng-container>
      <app-introduction-f3> </app-introduction-f3>
    </ng-container>

    <!-- imagenes en pantalla -->
    <!-- *ngIf="!ocultarPresentacion" -->
    <!-- <ng-container>
      <app-game-f3-img [gohan]="gohan" [cell]="cell">
      </app-game-f3-img>
    </ng-container> -->

    <!--botonera -->
    <ng-container>
      <app-joystick [servicio]="servicioF3">
      </app-joystick>
    </ng-container>
  </div>

  <!-- animacion de perder o ganar -->
  <app-scorekeeper [gohan]="gohan" [cell]="cell" [servicio]="servicioF3" [gif]="''" [texto]="''"
    [ruta]="''"></app-scorekeeper>

</div>