<div class="p-0 container pantalla" style="height: 100vh;">
  <!-- barra vida y energia -->

  <!--presentacion vida distinta -->
  <div *ngIf="ocultarPresentacion">
    <app-life [gohan]="introGohan" [cell]="introCell"></app-life>
    <app-energy [gohan]="introGohan" [cell]="introCell"></app-energy>
  </div>

  <!-- vida del juego -->
  <div *ngIf="!ocultarPresentacion">
    <app-life [gohan]="gohan" [cell]="cell"></app-life>
    <app-energy [gohan]="gohan" [cell]="cell"></app-energy>
  </div>

  <div id="juego-pantalla">
    <div style="min-height: 29.6vw;">
      <img *ngIf="!servicioF3.activarDerrotarCell ; else elseCondicion" src="assets/fondo/arenaCerca.png"
        class="fondoCerca" alt="fondo">
      <ng-template #elseCondicion>
        <img src="assets/fondo/destroy.png" class="fondoCerca" alt="fondo">
      </ng-template>
    </div>

    <!-- presentacion  "-->
    <ng-container *ngIf="ocultarPresentacion">
      <app-introduction-f3 [gohan]="introGohan" [cell]="introCell" [c16]="c16"> </app-introduction-f3>
    </ng-container>

    <!-- imagenes en pantalla -->
    <ng-container *ngIf="!ocultarPresentacion">
      <app-game-f3-img [gohan]="gohan" [cell]="cell">
      </app-game-f3-img>
    </ng-container>

    <!-- JOYSTICK INTRO -->
    <ng-container *ngIf="ocultarPresentacion">
      <app-joystick [servicio]="introServicio">
      </app-joystick>
    </ng-container>

    <!--botonera -->
    <ng-container *ngIf="!ocultarPresentacion">
      <app-joystick [servicio]="servicioF3">
      </app-joystick>
    </ng-container>

  </div>

  <!-- animacion de perder o ganar -->
  <app-scorekeeper [gohan]="gohan" [cell]="cell" [servicio]="servicioF3" [gif]="''" [texto]="'Regresar'"
    [ruta]="'/'"></app-scorekeeper>

</div>