<div id="marcoBotonera">

  <!-- texto -->
  <div id="wait" *ngIf="joy.texto !='' ">
    <!--tiempo de espera -->
    <img src="../../../../../../assets/comentarista/comentarista.png" class="card-img comentarista" alt="comentarista">
    <div class="card-img-overlay  d-flex justify-content-center">
      <span class="textoWait card justify-content-end" style="max-width:  45vw">
        {{joy.texto}}
      </span>
    </div>
  </div>

  <!-- boton choque kames -->
  <div *ngIf="joy.ocultarBtnPulsar" class="marcoPulsar">
    <button id="puño" class="boton" (click)="choqueKames()">
      <span class="btnChoqueKame">PULSA!</span>
    </button>
  </div>

  <!-- botonera -->
  <ng-container *ngIf="!joy.ocultarBotones">
    <!-- botonera izquierda -->
    <div id="caja1">
      <button id="puño" class="boton" (click)="accionGolpe('golpe')">
        <i><img src="assets/botones/golpe.svg" alt="icono puño" class="icono"></i>
      </button>

      <button id="defensa" class="boton" (click)="accionDefensa('defensa')">
        <i><img src="assets/botones/defensa.svg" alt="icono defensa" class="icono"></i>
      </button>
    </div>
    <!-- botonera derecha -->
    <div id="caja2">
      <button id="carga" class="boton" (click)="accionCarga('carga')">
        <i><img src="assets/botones/cargaDB.svg" alt="icono carga" class="icono"></i>
      </button>

      <button id="ki" class="boton" (click)="accionKi('ki')">
        <i><img src="assets/botones/kame.svg" alt="icono ki" class="icono" style="border-radius: 50%;"></i>
      </button>
    </div>
  </ng-container>

</div>